// Variables

// Text
$line-height: 1.44rem;

$title-font-size-xl: 2.1rem;
$title-font-size-lg: 1.26rem;
$title-font-size-sm: 1.1rem;
$common-font-size-lg: 0.88rem;
$common-font-size-sm: 0.92rem;
$small-font-lg: 0.77rem;
$small-font-sm: 0.8rem;
$light: 300;
$normal: normal;
$medium: 500;
$bold: bold;

// Spaces
$m-medium: 16px;
$m-large: 66px;

// Borders
$border-radius: 2px;