<!-- Navbar -->
<header class="container-fluid myHeaderTop no-gutters">

    <div class="row">
        <div class="col-12">
            <nav (click)="removeClass()" class="navbar navbar-expand-lg">
                <a #menu routerLinkActive="menu-active" routerLink="/" class="navbar-brand">
                    <figure class="logo">
                        <img src="./assets/img/logos/logo-tecnet.svg" alt="tecnet" width="100%" height="auto" />
                    </figure>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <input type="checkbox" id="nav-toggle" />
                    <label for="nav-toggle" class="hamburger-icon my-auto">
                        <span class="navbar-toggler-icon"></span>
                    </label>
                </button>
                <div #dropDwonResponsive class="collapse navbar-collapse shift" id="navbar">
                    <!-- <ul class="navbar-nav ml-auto" aria-expanded="false" role="button" data-target="#navbar"> -->
                    <ul class="navbar-nav ml-auto" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <li class="nav-item active one-item">
                            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown menu-area d-block d-lg-none">

                            <a #dropDwonElement (click)="status=!status"
                                [ngClass]="status ? 'dropdown-toggle-opened' : 'dropdown-toggle-closed'"
                                routerLinkActive="active" class="nav-link dropdown-toggle" id="mega-two" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Fabricación
                            </a>

                            <div class="dropdown-menu" aria-labelledby="mega-two">
                                <div class="row myDropDownMenu">
                                    <ul class="dropdown-menu__responsive">
                                        <li><a routerLink="/fabricacion/maquinaria-de-limpieza" title="fabricacion de maquinaria de limpieza de piezas">Maquinaria de limpieza de piezas</a></li>
                                        <li><a routerLink="/fabricacion/maquinaria-de-destilacion" title="fabricacion de maquinaria de destilacion">Maquinaria de destilación</a></li>
                                        <li><a
                                                routerLink="/fabricacion/maquinaria-de-descontaminacion-de-aire" title="fabricacion de maquinaria de descontaminacion de aire">Maquinaria de descontaminación de aire</a></li>
                                        <li><a routerLink="/fabricacion-de-maquinaria">Ver todo</a></li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown menu-area d-none d-lg-block">

                            <a (click)="status=!status"
                                [ngClass]="status ? 'dropdown-toggle-opened' : 'dropdown-toggle-closed'"
                                #dropDwonElement routerLinkActive="active" class="nav-link dropdown-toggle"
                                id="mega-two" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Fabricación
                            </a>

                            <div class="dropdown-menu mega-area animated fadeIn fast" aria-labelledby="mega-two">
                                <div class="row myDropDownMenu">
                                    <!--limpieza-->
                                    <div routerLink="/fabricacion/maquinaria-de-limpieza"
                                    title="fabricacion de maquinaria de limpieza y desengrase de piezas" 
                                        class="col-sm-6 col-lg-4 img-hover-effect">
                                        <figure>
                                            <img src="./assets/img/maquinaria/limpieza-de-piezas.jpg"
                                                width="100%" height="auto" />
                                        </figure>
                                        
                                        <h2><span class="light">Maquinaria</span><br> de limpieza de piezas</h2>
                                    </div>
                                    <!--destilacion-->
                                    <div routerLink="/fabricacion/maquinaria-de-destilacion"
                                    title="fabricacion de maquinaria de destilacion" 
                                        class="col-sm-6 col-lg-4 img-hover-effect">
                                        <figure>
                                            <img src="./assets/img/maquinaria/destilacion-disolventes.jpg"
                                                width="100%" height="auto" />
                                        </figure>
                                        
                                        <h2><span class="light">Maquinaria</span><br> de destilación</h2>
                                    </div>
                                    <!--descontaminacion-aire-->
                                    <div routerLink="/fabricacion/maquinaria-de-descontaminacion-de-aire"
                                    title="descontaminacion de aire" 
                                        class="col-sm-6 col-lg-4 img-hover-effect">
                                        <figure>
                                            <img src="./assets/img/maquinaria/descontaminacion-aire.jpg"
                                                width="100%" height="auto" />
                                        </figure>
                                        
                                        <h2><span class="light">Maquinaria</span><br> de descontaminación de aire</h2>
                                    </div>
                                    
                                    
                                    <div class="col-sm-6 img-hover-effect">
                                        <button class="button slide-left" routerLink="/fabricacion-de-maquinaria">ver
                                            todo</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item one-item p-175rem">
                            <a class="nav-link" routerLinkActive="active" routerLink="/desarrollo-industrial" title="desarrollo industrial de prototipos">Desarrollo de inventos</a>
                        </li>
                        <li class="nav-item one-item">
                            <a class="nav-link" routerLinkActive="active"
                                routerLink="/servicio-tecnico-industrial" title="servicio tecnico calificado">Servicio técnico</a>
                        </li>
                        <li class="nav-item one-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>